<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyondthehorizon.routeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.auth.SetTransactionPinActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".Views.auth.LoginActivity" />
        <activity android:name=".Views.auth.UserNamesActivity" />
        <activity
            android:name=".Views.auth.PasswordActivity"
            android:parentActivityName=".Views.auth.PhoneActivity" />
        <activity android:name=".Views.auth.PhoneActivity" />
        <activity android:name=".Views.auth.EmailIDActivity" />
        <activity android:name=".Views.ServicesActivity" />
        <activity android:name=".Views.SignupVerifiedActivity" />
        <activity android:name=".Views.OtpVerificationActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.MainActivity" />
    </application>

</manifest>